<nav class="navbar navbar-expand navbar-dark bg-dark">

  <!-- Navbar logo -->
  <a class="navbar-brand" routerLink="/home">
    <img src="../assets/images/logo-capgemini.svg" alt="Capgemini logo" id="CapgLogo">
    Angular Training Website
  </a>
  
  <!-- Navbar pills -->
  <ul class='nav nav-pills nav-space-10px'>
    <li><a class="nav-link" routerLink="/home">Home</a></li>
    <li><a class="nav-link" routerLink="/clothes-shop">Clothing Matteo</a></li>
    <li><a class="nav-link" routerLink="/oil-map">Oil map</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

