/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

:root {
    --pink-light: #ff7eb4;
    --pink: #ff2581;
}

body {
    height: 100vh;
}

#background {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
    height: 100%;
}