.card {
    margin-top: 25px;
}

.card-img-bottom {
    height: 256px;
    width: 256px;
}

.card-img-bottom:hover {
    animation-duration: 1s;
    animation-name: double-pop;
}
@keyframes double-pop {
    25% {
        width: 280px;
        height: 280px;
    }
    50% {
        width: 256px;
        height: 256px;
    }
    75% {
        width: 280px;
        height: 280px;
    }
    100% {
        width: 256px;
        height: 256px;
    }
}