.card {
    margin-top: 25px;
}

.card-img-bottom {
    cursor: pointer;
    height: 256px;
    width: 256px;
}

.card-img-bottom:hover {
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-name: pop;
}

@keyframes pop {
    50% {
        width: 280px;
        height: 280px;
    }
    100% {
        width: 256px;
        height: 256px;
    }
}